{{ "<!-- Archives Section -->" | safeHTML }}
<section id="archives">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>List of Blog Posts</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              {{ range first 10 .Data.Pages }}
                <h1>{{ .Title }}</h1>
              {{ end }}
            </div>
        </div>
    </div>
</section>
