{{ "<!-- Archives Section -->" | safeHTML }}
<section id="archives">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>List of Blog Posts</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <ul>
                {{ range .Data.Pages.ByPublishDate }}
                  <li> <h4><a href="{{ .Permalink }}"> {{ .Title }} </a> <small class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</small></h4> </li>

                {{ end }}
              </ul>
            </div>
        </div>
    </div>
</section>
