{{ partial "_top.html" . }}
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h1 class="title text-center">Blog</h1>
        <hr class="star-primary">
        <ul class="media-list">
          {{ range .Data.Pages }}
          <li class="media post">
            <h2 class="media-heading"><a href="{{ .RelPermalink }}">{{ .Title }}</a><br />
              <small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
            </h2>
            <div class="media-body">
              {{if .Params.image}}
              <div class="image" style="background-image: url({{ .Site.BaseURL }}img/{{ .Params.image }})"></div>
              {{ end }}
              {{.Summary}}
            </div>
            {{ if .Truncated }}
            <div class="clearfix"></div>
            <div class="text-center">
              <a href="{{ .RelPermalink }}" class="btn btn-success btn-lg">Read More</a>
            </div>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>


{{ partial "_bottom.html" . }}
